*{
	margin: 0px;
	padding: 0px; 
}
.bgimage{
	background-image: url(../img/back.jpg);
	background-size: 100% 100% ;
	width: 100%;
	height: 100vh;
}
.menu{
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.6);	
}
.leftmenu{
	width: 20%;
	line-height: 80px;
	float: left;
}
.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserret',sans-serif;
}
.rightmenu{
	width: 75%;
	height: 100px;
	float: right;
}
.rightmenu ul{
	margin-left: 450px; 
}
.rightmenu ul li{
	font-family: 'Montserret',sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color: white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase; 
}
#firstlist{
	color: orange;
}
.rightmenu ul li:hover{
	color: orange;
}
.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color: white; 
}
.text h4{
	 font-style: 14px;
	 font-family: 'opan-sans',sans-serif;
}
.text h1{
	font-size: 60px;
	font-family: 'Montserret',sans-serif;
	font-weight: 700px;
	margin: 14px 0px;
}
.text h3{
	font-size: 15px;
	font-family: 'opan-sans',sans-serif;
	
}